<div ng-controller="editController" ng-cloak id="edit">
  <md-content layout-padding>

    <div flex-xs flex-gt-xs="100" layout="column">
      <!-- EDIT PAGE HEADER -->
      <h2 class="page-header">
        <md-icon class="header-icon"></md-icon>
        <span class="md-headline header-title">{{ originalVideoTitle }}</span>
      </h2>

      <!-- EDIT PAGE CONTENT -->
      <md-card>
        <md-tabs md-dynamic-height md-border-bottom>
          <!-- TAB 1 : SETTINGS & INFO-->
          <md-tab>
            <md-tab-label>
              <md-icon class="tab-icon" md-svg-icon="images/ic_edit_black_24px.svg"></md-icon>
              <span class="tab-header">INFO & SETTINGS</span>
            </md-tab-label>
            <md-tab-body>
              <md-content class="md-padding">
                <div layout="row"> <!-- start top row -->
                  <div flex="60">
                <!-- TODO: Uncomment after server side can auto generate image directory
                <span ng-show="video.thumbnailDir">
                  <img class="small-video-player" ng-src="{{ video.thumbnail }}" alt="{{ originalVideoTitle }}" />
                </span> -->
                <img ng-src="{{ defaultImagePath }}" alt="{{ originalVideoTitle }}" />
                  </div>
                  <div flex="40">
                    <div layout="column">
                      <div flex>
                        <div layout="row" layout-align="end start">
                          <md-button class="md-raised md-primary save-btn">Save</md-button>
                          <md-button class="md-raised cancel-btn" ui-sref="dashboard">Cancel</md-button>
                        </div>
                      </div>
                      <div flex layout-margin class="video-info">
                          <p class="title">Video Information</p>
                          <p>
                            <span class="field">Time Uploaded:</span>
                            <span class="value">{{ video.createdAt | date:'MMMM d, y h:mma' }}</span>
                          </p>
                          <p>
                            <span class="field">Video Duration:</span>
                            <span class="value">{{ video.duration }}</span>
                          </p>
                          <p class="embed-link-area">
                            <span class="field">Embed Link:</span>
                            <input class="embed-value" value="{{ video.videoDir }}" readonly="readonly"/>
                            <md-button class="md-icon-button" aria-label="Copy" md-ink-ripple="false" md-no-ink ng-click="copyEmbedLink(video.videoDir)">
                              <md-icon class="copy-btn" md-svg-icon="images/ic_insert_link_black_24px.svg"></md-icon>
                            </md-button>
                          </p>
                      </div>
                    </div>
                  </div>
                </div>  <!-- end top row -->
                <div> <!-- start editable fields -->
                  <form name="videoForm" class="form-padding">
                    <md-input-container class="md-block">
                      <label>Title</label>
                      <input required name="videoTitle" ng-model="video.title" />
                      <div ng-messages="videoForm.videoTitle.$error">
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Description</label>
                      <input name="videoDescription" ng-model="video.description" />
                    </md-input-container>
                    <div layout="row">
                      <div flex="80">
                        <md-input-container class="md-block">
                          <label>Tags</label>
                          <input name="videoTags" ng-model="video.tags" />
                        </md-input-container>
                      </div>
                      <div flex="20">
                        <div class="custom-button-set">
                          <div layout="column">
                            <div flex>
                              <label>Privacy</label>
                            </div>
                            <div flex class="privacy-buttons">
                              <div layout="row" class="custom-switch">
                                <div flex="50" class="custom-btn" ng-class="video.privacy ? 'selected' : ''" ng-click="updatePrivacy(1)">
                                  <span class="text">Public</span>
                                </div>
                                <div flex="50" class="custom-btn" ng-class="video.privacy ? '' : 'selected'" ng-click="updatePrivacy(0)">
                                  <span class="text">Private</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div> <!-- end editable fields -->
              </md-content>
            </md-tab-body>
          </md-tab>

          <!-- TAB 2 : SUBTITLES & CC (NOT DONE)-->
          <md-tab>
            <md-tab-label>
              <md-icon class="tab-icon" md-svg-icon="images/ic_subtitles_black_24px.svg"></md-icon>
              <span class="tab-header">SUBTITLES & CC</span>
            </md-tab-label>
            <md-tab-body>
              <md-content class="md-padding">
                <h1 class="md-display-2">Subtitles Here</h1>
                  <p>TO BE IMPLEMENTED.</p>
              </md-content>
            </md-tab-body>
          </md-tab>

          <!-- TAB 3 : STATISTICS (NOT DONE)-->
          <md-tab>
            <md-tab-label>
              <md-icon class="tab-icon" md-svg-icon="images/ic_trending_up_black_24px.svg"></md-icon>
              <span class="tab-header">STATISTICS</span>
            </md-tab-label>
            <md-tab-body>
              <md-content class="md-padding">
                <h1 class="md-display-2">Statistics Here</h1>
                <p>TO BE IMPLEMENTED.</p>
              </md-content>
            </md-tab-body>
          </md-tab>

        </md-tabs>
      </md-card>
    </div>

  </md-content>
</div>
