<div ng-controller="loginController" ng-cloak id="login">
  <md-content layout-padding>

    <md-card>
      <div class="card-contents">
        <div class="logo" aria-label="Logo"></div>
        <div class="description">An open source JavaScript/HTML5 video server and player with zoom and pan features.</div>
        <form name="loginForm">
          <div class="field-area">
            <p class="error-message" ng-model="errorMsg">{{errorMsg}}</p>
            <input placeholder="Email" required name="userEmail" ng-model="email" ng-if="isCreate" type="email"/>
            <input placeholder="Username" required name="userName" ng-model="username" type="text"/>
            <input placeholder="Password" required name="userPassword" ng-model="password" type="password"/>
            <a href="" class="forgot-password-link">Forgot Password</a>
            <button type="submit" name="submitBtn" ng-click="submitForm()" ng-disabled="loginForm.$pristine || !loginForm.$valid">
              {{isCreate ? 'Create Account' : 'Login'}}
            </button>
            <a href="" class="create-account-link" ng-click="isCreate = !isCreate; errorMsg = ''">
              {{isCreate ? 'Back' : 'Create New Account'}}
            </a>
          </div>
        </form>
      </div>
    </md-card>

  </md-content>
</div>
