# Created by https://www.gitignore.io/api/node,intellij

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
libs/

## Directory-based project format:
.idea/

# User-defined
.tmp
testvids/squirrel_video.mp3
testvids/squirrel_video.png
testvids/squirrel_video_1080p.mp4
testvids/squirrel_video_1080p_R1C1.mp4
testvids/squirrel_video_1080p_R1C1_track1_dashinit.mp4
testvids/squirrel_video_1080p_R1C2.mp4
testvids/squirrel_video_1080p_R1C2_track1_dashinit.mp4
testvids/squirrel_video_1080p_R1C3.mp4
testvids/squirrel_video_1080p_R1C3_track1_dashinit.mp4
testvids/squirrel_video_1080p_R1C4.mp4
testvids/squirrel_video_1080p_R1C4_track1_dashinit.mp4
testvids/squirrel_video_1080p_R2C1.mp4
testvids/squirrel_video_1080p_R2C1_track1_dashinit.mp4
testvids/squirrel_video_1080p_R2C2.mp4
testvids/squirrel_video_1080p_R2C2_track1_dashinit.mp4
testvids/squirrel_video_1080p_R2C3.mp4
testvids/squirrel_video_1080p_R2C3_track1_dashinit.mp4
testvids/squirrel_video_1080p_R2C4.mp4
testvids/squirrel_video_1080p_R2C4_track1_dashinit.mp4
testvids/squirrel_video_1080p_R3C1.mp4
testvids/squirrel_video_1080p_R3C1_track1_dashinit.mp4
testvids/squirrel_video_1080p_R3C2.mp4
testvids/squirrel_video_1080p_R3C2_track1_dashinit.mp4
testvids/squirrel_video_1080p_R3C3.mp4
testvids/squirrel_video_1080p_R3C3_track1_dashinit.mp4
testvids/squirrel_video_1080p_R3C4.mp4
testvids/squirrel_video_1080p_R3C4_track1_dashinit.mp4
testvids/squirrel_video_360p.mp4
testvids/squirrel_video_360p_R1C1.mp4
testvids/squirrel_video_360p_R1C1_track1_dashinit.mp4
testvids/squirrel_video_360p_R1C2.mp4
testvids/squirrel_video_360p_R1C2_track1_dashinit.mp4
testvids/squirrel_video_360p_R1C3.mp4
testvids/squirrel_video_360p_R1C3_track1_dashinit.mp4
testvids/squirrel_video_360p_R1C4.mp4
testvids/squirrel_video_360p_R1C4_track1_dashinit.mp4
testvids/squirrel_video_360p_R2C1.mp4
testvids/squirrel_video_360p_R2C1_track1_dashinit.mp4
testvids/squirrel_video_360p_R2C2.mp4
testvids/squirrel_video_360p_R2C2_track1_dashinit.mp4
testvids/squirrel_video_360p_R2C3.mp4
testvids/squirrel_video_360p_R2C3_track1_dashinit.mp4
testvids/squirrel_video_360p_R2C4.mp4
testvids/squirrel_video_360p_R2C4_track1_dashinit.mp4
testvids/squirrel_video_360p_R3C1.mp4
testvids/squirrel_video_360p_R3C1_track1_dashinit.mp4
testvids/squirrel_video_360p_R3C2.mp4
testvids/squirrel_video_360p_R3C2_track1_dashinit.mp4
testvids/squirrel_video_360p_R3C3.mp4
testvids/squirrel_video_360p_R3C3_track1_dashinit.mp4
testvids/squirrel_video_360p_R3C4.mp4
testvids/squirrel_video_360p_R3C4_track1_dashinit.mp4
testvids/squirrel_video_480p.mp4
testvids/squirrel_video_480p_R1C1.mp4
testvids/squirrel_video_480p_R1C1_track1_dashinit.mp4
testvids/squirrel_video_480p_R1C2.mp4
testvids/squirrel_video_480p_R1C2_track1_dashinit.mp4
testvids/squirrel_video_480p_R1C3.mp4
testvids/squirrel_video_480p_R1C3_track1_dashinit.mp4
testvids/squirrel_video_480p_R1C4.mp4
testvids/squirrel_video_480p_R1C4_track1_dashinit.mp4
testvids/squirrel_video_480p_R2C1.mp4
testvids/squirrel_video_480p_R2C1_track1_dashinit.mp4
testvids/squirrel_video_480p_R2C2.mp4
testvids/squirrel_video_480p_R2C2_track1_dashinit.mp4
testvids/squirrel_video_480p_R2C3.mp4
testvids/squirrel_video_480p_R2C3_track1_dashinit.mp4
testvids/squirrel_video_480p_R2C4.mp4
testvids/squirrel_video_480p_R2C4_track1_dashinit.mp4
testvids/squirrel_video_480p_R3C1.mp4
testvids/squirrel_video_480p_R3C1_track1_dashinit.mp4
testvids/squirrel_video_480p_R3C2.mp4
testvids/squirrel_video_480p_R3C2_track1_dashinit.mp4
testvids/squirrel_video_480p_R3C3.mp4
testvids/squirrel_video_480p_R3C3_track1_dashinit.mp4
testvids/squirrel_video_480p_R3C4.mp4
testvids/squirrel_video_480p_R3C4_track1_dashinit.mp4
testvids/squirrel_video_720p.mp4
testvids/squirrel_video_720p_R1C1.mp4
testvids/squirrel_video_720p_R1C1_track1_dashinit.mp4
testvids/squirrel_video_720p_R1C2.mp4
testvids/squirrel_video_720p_R1C2_track1_dashinit.mp4
testvids/squirrel_video_720p_R1C3.mp4
testvids/squirrel_video_720p_R1C3_track1_dashinit.mp4
testvids/squirrel_video_720p_R1C4.mp4
testvids/squirrel_video_720p_R1C4_track1_dashinit.mp4
testvids/squirrel_video_720p_R2C1.mp4
testvids/squirrel_video_720p_R2C1_track1_dashinit.mp4
testvids/squirrel_video_720p_R2C2.mp4
testvids/squirrel_video_720p_R2C2_track1_dashinit.mp4
testvids/squirrel_video_720p_R2C3.mp4
testvids/squirrel_video_720p_R2C3_track1_dashinit.mp4
testvids/squirrel_video_720p_R2C4.mp4
testvids/squirrel_video_720p_R2C4_track1_dashinit.mp4
testvids/squirrel_video_720p_R3C1.mp4
testvids/squirrel_video_720p_R3C1_track1_dashinit.mp4
testvids/squirrel_video_720p_R3C2.mp4
testvids/squirrel_video_720p_R3C2_track1_dashinit.mp4
testvids/squirrel_video_720p_R3C3.mp4
testvids/squirrel_video_720p_R3C3_track1_dashinit.mp4
testvids/squirrel_video_720p_R3C4.mp4
testvids/squirrel_video_720p_R3C4_track1_dashinit.mp4
testvids/squirrel_video_mpd_R1C1.mpd
testvids/squirrel_video_mpd_R1C2.mpd
testvids/squirrel_video_mpd_R1C3.mpd
testvids/squirrel_video_mpd_R1C4.mpd
testvids/squirrel_video_mpd_R2C1.mpd
testvids/squirrel_video_mpd_R2C2.mpd
testvids/squirrel_video_mpd_R2C3.mpd
testvids/squirrel_video_mpd_R2C4.mpd
testvids/squirrel_video_mpd_R3C1.mpd
testvids/squirrel_video_mpd_R3C2.mpd
testvids/squirrel_video_mpd_R3C3.mpd
testvids/squirrel_video_mpd_R3C4.mpd
