<!-- DASHBOARD EDIT VIDEO VIEW -->

<div ng-controller="dashboardController" ng-cloak class="dashboard" md-no-ink="">
  <md-content layout-padding>
    <div flex-xs flex-gt-xs="100" layout-align="start center">
      <!-- DASHBOARD HEADER -->
      <div layout="row" layout-align="space-between center">
        <div flex class="page-header">
          <md-icon class="header-icon"></md-icon>
          <span class="md-headline header-title">My Videos
            <span ng-show="videoList.length" class="video-count">{{ videoList.length }}</span>
            <span ng-hide="videoList.length" class="video-count">0</span>
          </span>
        </div>
      <div flex="1">
          <input class="ng-hide" id="file-input" type="file" multiple="multiple" data-dbinf-on-files-selected="uploadVideoFile(selectedFileList)" file-model="videoFile">
          <md-button id="uploadButton" class="md-raised md-primary" aria-label="upload video file">
            <label for="file-input">Upload</label>
          </md-button>
        </div>
      </div>

      <md-card>
        <!-- ACTION BUTTONS -->
        <md-card-header>
          <md-card-actions layout="row" layout-align="space-between center">
            <div flex class="action-btns-left">
              <md-card-icon-actions>
                <md-checkbox class="select-all" ng-model="master" ng-change="isSelectAll()" aria-label="Select All"></md-checkbox>
                <md-button ng-show="model.selectedVideoList.length" ng-click="showConfirmDeleteByCheckbox($event)">Delete Video</md-button>
              </md-card-icon-actions>
            </div>

            <div flex="1" class="action-btns-right">
              <md-input-container>
                <label>Sort by</label>
                <md-select ng-model="userSortState">
                  <md-option ng-repeat="sortState in sortStates" value="{{ sortState }}" ng-click="updateSortState(sortState)">{{ sortState }}</md-option>
                </md-select>
              </md-input-container>
            </div>

            <div flex="1" class="action-btns-right">
              <md-input-container>
                <label>Filter by</label>
                <md-select ng-model="userFilterState">
                  <md-option ng-repeat="filterState in filterStates" value="{{ filterState }}" ng-click="updateFilterState(filterState)">{{ filterState }}</md-option>
                </md-select>
              </md-input-container>
            </div>

          </md-card-actions>
        </md-card-header>

        <md-divider></md-divider>

        <!-- VIDEO CONTENT -->
        <md-card-content>
          <md-list-item class="md-3-line video-item" ng-repeat="video in videoList | orderBy: sortType | filter: filterType" ng-show="videoList.length" ng-mouseover="hasMouseover = 'visibile'" ng-mouseleave="hasMouseover = 'hidden'">
            <md-checkbox ng-model="video.selected" ng-change="isLabelChecked()"></md-checkbox>
            <a href="/edit/{{ video.id }}">
              <!-- TODO: Uncomment after server side can auto generate image directory
              <span ng-show="video.thumbnailDir">
              <img ng-src="{{ video.thumbnail }}" alt="{{ video.title }}" />
            </span> -->
              <img ng-src="{{ defaultImagePath }}" alt="{{ video.title }}" />
            </a>

            <div class="md-list-item-text">
              <h3 class="video-title">{{ video.title }}</h3>
              <h4>
                <span ng-show"video.views">{{ video.views }} Views </span>
                &middot;
                {{ video.createdAt | date:'medium'}}
                <span ng-if="video.privacy">
                  <md-icon md-svg-icon="images/ic_lock_black_24px.svg" class="small md-avatar-icon"></md-icon>
                </span>
              </h4>
              <p>
                <span ng-if="video.tags.length">
                  <md-icon md-svg-icon="images/ic_tag_black_24px.svg" class="small md-avatar-icon"></md-icon>
                  {{ video.tags }}
                </span>
              </p>
            </div>

            <div class="md-secondary">
              <md-button class="md-raised" href="/edit/{{ video.id }}">Edit Video</md-button>
              <md-button ng-click="showConfirmDeleteByButton($event,video)" aria-label="delete video"><md-icon class="md-avatar-icon" md-svg-icon="images/ic_delete_black_24px.svg"></md-icon></md-button>
            </div>

          </md-list-item>

          <md-list-item ng-hide="videoList.length" layout="row" layout-align="center center">
            No Video Yet
          </md-list-item>
        </md-card-content>

      </md-card>

    </div>
  </md-content>
</div>