<!-- PLAYER VIEW -->
<div id="zoomableVidElements", style="display:none"></div>
<div id="zoomableAudElements", style="display:none"></div>

<div id="canvasPlayerArea">
  <canvas id="snapshot_canvas", style="display:none", width="1920", height="1080"></canvas>
  <canvas id="canvas"></canvas>

  <div id="uiControls">
    <div id="miniMapControls">
        <canvas id="minimap", width="128", height="72"></canvas>
    </div>
    <div id="zoomBarControls">
      <button id="zoomOutBtn"></button>
      <input id="zoomCtrl" type="range" step="any" min="0" max="1" value="0">
      <button id="zoomInBtn"></button>
    </div>
    <div id="seekBarControls">
      <input id="seekCtrl" type="range" step="any" min="0" max="1" value="0">
    </div>
    <div id="bottomBarControls">
      <div class="flexChild">
        <button id="playPauseBtn" class="play"></button>
        <span id="volumeArea">
          <button id="volumeBtn" class="low"></button>
          <input id="volumeCtrl" type="range" step="any" min="0" max="1" value="0.5">
        </span>
        <div id="timeTxt">
          <span id="currentTimeTxt">0:00:00</span> /
          <span id="totalTimeTxt">0:00:00</span>
        </div>
      </div>
      <div class="flexChild">
        <button id="snapshotBtn"></button>
        <button id="settingBtn"></button>
        <button id="captionBtn"></button>
        <button id="fullscreenBtn"></button>
      </div>
    </div>
  </div>
</div>

<script src="/js/dependencies/index.js"></script>
<script src="/js/public/player/videoframe.js"></script>
<script src="/js/public/player/filesaver.js"></script>
<script src="/js/public/player/minimap.js"></script>
<script src="/js/public/player/player.js"></script>
<script src="/js/public/player/slave.js"></script>
