<html>
    <head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="Zoomable" content="yes" />
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- META TAGS END -->

        <base href="/" />
        <title>Zoomable</title>

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/angular-material.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.js"></script>
        <script src="/js/dependencies/angular-ui-router.js"></script>
        <script src="/js/dependencies/angular-material.js"></script>
        <script src="/js/dependencies/angular-messages.js"></script>
        <script src="/js/dependencies/angular-animate.js"></script>
        <script src="/js/dependencies/angular-aria.js"></script>
        <script src="/js/dependencies/clipboard.js"></script>
        <script src="/js/dependencies/ngclipboard.js"></script>
        <script src="/js/public/zoomableApp.js"></script>
        <script src="/js/public/appRoutes.js"></script>
        <script src="/js/public/directives.js"></script>
        <script src="/js/public/controllers/dashboardController.js"></script>
        <script src="/js/public/controllers/loginController.js"></script>
        <script src="/js/public/controllers/editController.js"></script>
        <script src="/js/public/servicesAPI.js"></script>
        <!--SCRIPTS END-->
    </head>

    <body ng-app="zoomableApp">
        <div ng-controller="loginController" ng-cloak>

          <!-- TODO: CREATE LOGIN PAGE -->
        <md-content layout-padding>
            <div layout="row" layout-align="center">
              <span class="md-display-1">{{greeting}}</span>
            </div>
            <div layout="row" layout-align="center">
              <md-button ui-sref="dashboard" class="md-raised">Log In</md-button>
            </div>
        </md-content>

        </div>

        <!-- NAV BAR -->
        <!-- <div navbar></div> -->

        <!-- ANGULAR DYNAMIC CONTENT -->
        <!-- <div ui-view></div> -->
    </body>
</html>