<!-- LOGIN VIEW -->

<div ng-controller="loginController" ng-cloak id="login">
  <md-content layout-padding>

    <md-card>
      <!-- Login and Sign Up Form -->
      <div class="card-contents">
        <div class="logo" aria-label="Logo"></div>
        <div class="description">An open source JavaScript/HTML5 video server and player with zoom and pan features.</div>
        <form name="loginForm">
          <div class="field-area">
            <p class="error-message" ng-model="errorMsg">{{errorMsg}}</p>
            <input placeholder="Email" name="userEmail" ng-model="emailAddress" ng-show="isCreate" type="email"/>
            <input placeholder="Username" name="userName" ng-model="username" type="text"/>
            <input placeholder="Password" name="userPassword" ng-model="password" type="password" autocomplete="off"/>
            <button type="submit" name="submitBtn" ng-click="submitForm()" ng-disabled="loginForm.$pristine || hasEmptyFields()">
              {{isCreate ? 'Create Account' : 'Login'}}
            </button>
            <a href="" class="link center" ng-click="isCreate = !isCreate; errorMsg = ''">
              {{isCreate ? 'Back' : 'Create New Account'}}
            </a>
          </div>
        </form>
      </div>

    </md-card>

  </md-content>
</div>
