<!-- NAVBAR -->

<div ng-controller="loginController" id="navbar" ng-cloak>
  <!-- Navbar -->
  <md-toolbar>
    <div layout="row" layout-align="space-between">
      <!-- First Group: Menu & Home Button -->
      <span layout layout-align="none center">
        <md-button id="menuBtn" class="md-icon-button" aria-label="Menu" ng-click="toggleLeftMenu()">
          <md-icon md-svg-src="images/ic_menu_white_24px.svg"></md-icon>
        </md-button>
        <md-button ng-href="/" class="home-btn" aria-label="Logo" md-no-ink></md-button>
      </span>

      <!-- Second Group: Search Area -->
      <span class="search-container" ng-show="isVideoList()">
        <md-input-container md-no-float class="md-block">
          <input type="text" placeholder="Search" ng-change="searchVideoList()" ng-model="searchQuery"></input>
        </md-input-container>
        <md-button class="md-icon-button search-btn" aria-label="Search" md-no-ink>
          <md-icon md-svg-src="images/ic_search_white_24px.svg"></md-icon>
        </md-button>
      </span>

      <!-- Third Group: Upload & Profile Button -->
      <span layout="row" layout-align="space-between center">
        <md-menu md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-flat" ng-click="$mdOpenMenu($event)"><%= user.username %>
            <md-icon md-menu-origin md-svg-src="images/ic_arrow_drop_down_white_24px.svg"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="">
                <div layout="row">
                  <p flex>Settings</p>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="dropdown-link">
                <div layout="row">
                  <a href="/api/user/logout" flex>Log Out</a>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </span>

    </div>
  </md-toolbar>

  <!-- Sidebar -->
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <div id="showVideoBtn" class="selection-btn" ng-click="showPage($event)" ng-class="{selected: location == '/'}">
      <md-icon class="header-icon video"></md-icon>
      <div class="btn-name">My Videos</div>
    </div>
    <div id="showStatBtn" class="selection-btn" ng-click="showPage($event)" ng-class="{selected: location == '/statistics'}">
      <md-icon class="header-icon stats"></md-icon>
      <div class="btn-name">My Statistics</div>
    </div>
    <md-divider></md-divider>
    <div class="tag-header">Tags</div>
    <div class="tag-area">
      <div class="tag-item" ng-repeat="tag in tagList" ng-click="setSelectedTag($event)">
        {{tag}}
      </div>
    </div>
  </md-sidenav>
</div>
