<!-- PLAYER VIEW -->
<table>
  <tbody>
    <tr style="display:table-row;">
    <td>Video Source:</td>
        <td colspan="2">
          <select id="mpdSource">
          <option value="http://yt-dash-mse-test.commondatastorage.googleapis.com/media/car-20120827-manifest.mpd">Car</option>
          <option value="http://yt-dash-mse-test.commondatastorage.googleapis.com/media/motion-20120802-manifest.mpd">Motion</option>
          <option value="http://yt-dash-mse-test.commondatastorage.googleapis.com/media/oops-20120802-manifest.mpd">Oops</option>
          <option value="http://zoomable.comp.nus.edu.sg/puppey/puppy_dash.mpd">Puppy</option>
          <option value="">Squirrel</option>
          </select>
    </td>
    <td><button onclick="initShakaPlayer()">Load</button></td>
    <tr> 
  </tbody>
</table>

<video id="video"
       width="640" height="360"
       crossorigin="anonymous"
       controls
>
       Your browser does not support HTML5 video.
</video>
<!--video id="video_2"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R1C2.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_3"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R1C3.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_4"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R1C4.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_5"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R2C1.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_6"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R2C2.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_7"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R2C3.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_8"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R2C4.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_9"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R3C1.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_10"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R3C2.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_11"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R3C3.mpd">
  Your browser does not support HTML5 video.
</video>
<video id="video_12"
       width="640" height="360"
       crossorigin="anonymous"
       controls
       style="display:none"
       src="http://localhost/TEST/squirrel_video/squirrel_video_mpd_R3C4.mpd">
  Your browser does not support HTML5 video.
</video-->

<div id="canvasPlayerArea">
  <canvas id="canvas" width="640px" height="360px"></canvas>
  <div id="uiControls">
    <div id="zoomBarControls">
      <button id="zoomOutBtn"></button>
      <input id="zoomCtrl" type="range" step="any" min="0" max="1" value="0">
      <button id="zoomInBtn"></button>
    </div>
    <div id="seekBarControls">
      <input id="seekCtrl" type="range" step="any" min="0" max="1" value="0">
    </div>
    <div id="bottomBarControls">
      <div class="flexChild">
            <button id="playPauseBtn" class="play"></button>
            <span id="volumeArea">
              <button id="volumeBtn" class="low"></button>
              <input id="volumeCtrl" type="range" step="any" min="0" max="1" value="0.5">
            </span>
            <div id="timeTxt">
              <span id="currentTimeTxt">0:00:00</span> /
              <span id="totalTimeTxt">0:00:00</span>
            </div>
        </div>
        <div class="flexChild">
            <button id="snapshotBtn"></button>
            <button id="settingBtn"></button>
            <button id="captionBtn"></button>           
            <button id="fullscreenBtn"></button>
        </div>
      </div>
  </div>
</div>

<script src="/js/dependencies/index.js"></script>
<script src="/js/public/player/initShakaPlayer.js"></script>
<script src="/js/public/player/player.js"></script>
