<!-- DASHBOARD STATISTIC VIEW -->

<div ng-controller="statisticController" ng-cloak id="statistic" md-no-ink="">
  <md-content layout-padding ng-cloak>
    <div flex-xs flex-gt-xs="100" layout-align="start center">
      <!-- DASHBOARD HEADER -->
      <div layout="row" layout-align="space-between center">
        <div flex class="page-header">
          <md-icon class="header-icon stats"></md-icon>
          <span class="md-headline header-title">My Statistics</span>
        </div>
      </div>

    </div>
  </md-content>
</div>
