<div class="statsdata">
  <!-- MESSAGE TO SHOW WHEN NO VIEW SESSIONS ARE AVAILABLE -->
  <div class="no-stats" ng-if="noStatisticsYet">
    <md-list-item>Video statistics are not available yet.</md-list-item>
  </div>

  <div ng-show="!noStatisticsYet">
    <!-- HEATMAP AREA -->
    <div class="zoom-analysis-area" ng-show="location[1] === 'edit'">
      <div layout="row">
        <div flex="100" class="zoom-stats-area">
          <div class="graph-title">
            <md-icon class="zoom-icon" md-svg-icon="images/ic_zoom.svg"></md-icon>Zoom Frequency Analysis
          </div>
        </div>
      </div>
      <div layout="row" ng-show="!noHeatmapYet">
        <div flex="50" class="zoom-stats-video">
          <h3>Actual Video</h3>
          <iframe id="heatmap-iframe2" width="480" height="270" src="{{ videoURL }}" allowfullscreen style=""></iframe>
        </div>
        <div flex="50" class="zoom-stats-video">
          <h3>Heatmap Video</h3>
          <div id="heatmap-canvas" style="width:128px;height:72px;display:none"></div>
          <video id="video" controls style="width:482px;height:272px;opacity:0.6;position:absolute"></video>
          <iframe id="heatmap-iframe" width="480" height="270" src="{{ videoURL }}" allowfullscreen style=""></iframe>
        </div>
      </div>
      <div layout="row" ng-show="noHeatmapYet">
        <div flex="100" class="zoom-stats-area">
          Heatmap video is still processing
        </div>
      </div>
    </div>

    <!-- DIVIDER SHOWN WHEN HEAT MAP IS SHOWN (in edit page)-->
    <md-divider class="video-divider" ng-show="location[1] === 'edit'"></md-divider>

    <!-- VIEW STATS AREA -->
    <div layout="row">
      <div flex="70" class="date-area">
        <md-datepicker ng-model="startDate" md-placeholder="Enter start date" ng-change="updateDate(startDate, endDate)"
          md-min-date="minDate" md-max-date="endDate"></md-datepicker>
        <span class="interval-text">TO</span>
        <md-datepicker ng-model="endDate" md-placeholder="Enter end date" ng-change="updateDate(startDate, endDate)"
          md-min-date="startDate" md-max-date="maxDate"></md-datepicker>
      </div>
      <div flex="30" class="custom-btn-group date-labels">
        <div layout="row" class="custom-switch">
          <div flex="33" id="day" class="custom-btn" ng-class="{selected : criteria === 'DAY'}" ng-click="updateCriteria($event)">
            <span class="text">Day</span>
          </div>
          <div flex="33" id="week" class="custom-btn" ng-class="{selected : criteria === 'WEEK'}" ng-click="updateCriteria($event)">
            <span class="text">Week</span>
          </div>
          <div flex="33" id="month" class="custom-btn" ng-class="{selected : criteria === 'MONTH'}" ng-click="updateCriteria($event)">
            <span class="text">Month</span>
          </div>
        </div>
      </div>
    </div>

    <div layout="row">
      <div flex="50" class="views-stats-area">
        <div class="graph-title">
          <md-icon class="view-icon" md-svg-icon="images/ic_view.svg"></md-icon>Views
        </div>
        <div class="graph-numbers">
          Lifetime Views: <span>{{ viewSessions.length }}</span>
          <br />
          Total Views From {{startDate | date:'d MMM yyyy'}} to {{endDate | date:'d MMM yyyy'}}: <span>{{ totalViewsForPeriod }}</span>
        </div>
      </div>
      <div flex="50" class="shares-stats-area">
        <!-- TODO: Graph for video shares -->
      </div>
    </div>

    <div layout="row" class="graph-chart">
      <div flex="80" flex-offset="10">
        <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
      </div>
    </div>
  </div>

</div>
