/**
 * colors.less
 */

// Primary Colors
@color-primary: @color-cyan-400;
@color-background: @color-grey-100;

// Buttons
@color-button-primary: @color-cyan-700;
@color-button-disabled: @color-grey-300;

// Colors
@color-black: #000000;
@color-white: #FFFFFF;
@color-cyan-400: #26C6DA;
@color-cyan-700: #0097A7;
@color-green-500: #4CAF50;
@color-grey-100: #FAFAFA;
@color-grey-300: #E0E0E0;
@color-grey-500: #9E9E9E;
@color-red-500: #F44336;
