/**
 * dashboard.less
 */

.dashboard {
    .action-btns-left {
        margin-top: 8px;
    }

    .action-btns-right {
        margin-right: 15px;
    }

    img {
        height: @dashboard-video-height;
        width: @dashboard-video-width;
        margin-right: 10px;
    }

    .md-avatar-icon {
        padding: 0 20px !important;
        @media (max-width: 800px) {
            padding: 0 10px !important;
        }
    }

    md-checkbox.select-all {
        margin: 0 10px 0 25px;
    }

    .md-icon-button.delete-btn {
      margin-top: 5px;

      &:hover {
        background-color: @color-grey-300;
      }
    }

    .md-no-style.md-list-item-inner {
        padding: 15px 0;
    }

    .md-secondary {
        display: flex;
    }

    .small {
        width:15px;
    }

    .video-count {
        &::before {
            content: '(';
        }
        &::after {
            content: ')';
        }
    }

    .video-item {
        padding-left: 15px;
    }

    .video-title {
        width: 450px;
        @media (max-width: 950px) {
            width: 250px;
        }
    }
}
