/**
 * dialog.less
 */

.drop-box {
    background: @color-grey-100;
    border: 5px dashed @color-grey-300;
    color: @color-grey-500;
    padding: 25px;
    width: 200px;
    text-align: center;
}
.dragover {
    border: 5px dashed @color-primary;
}
