/**
 * elements.less
 */

md-content.layout-padding {
    top: @navbar-height;
}

.page-header {
    md-icon.header-icon {
        background-image: url(../../images/ic_movie_black_24px.svg);
        margin: 0px 10px 0px 20px;
    }

    .header-title {
        vertical-align: middle;
    }
}
