#canvasPlayerArea {
	position: relative;
	width: 640px;
	height: 360px;
}

#uiControls.hideOnHover {
	opacity: 0;
	transition: opacity 0.4s;
}
#canvasPlayerArea:hover #uiControls.hideOnHover {
	opacity: 1;
}

#canvas {
	width: 640px;
	height: 360px; 
	position: relative; 
	z-index: 0;
}

#zoomBarControls {
	position: absolute;
	top: 50%;
	left: 86%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	width: 135px;
	height: 24px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);	/* safari */
	-moz-transform: rotate(90deg);		/* firefox */
	display: flex;
	justify-content: space-between;
}

#zoomBarControls button {
	background-size: 24px 24px;
	border: none;
	outline: none;
	width: 24px;
	height: 24px;
	opacity: 0.85;
}
#zoomBarControls button:hover {
	opacity: 1;
}

#seekBarControls {
	position: absolute;
	bottom: 32px;
	left: 0px;
	z-index: 10;
}

#bottomBarControls {
	position: absolute;
	display: flex;
	bottom: 0;
	left: 0;
	width: 630px;
	height: 36px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0px 5px 0px 5px;
	justify-content: space-between;
}

.flexChild {
	display: flex;
}

#bottomBarControls button {
	background-size: 32px 32px;
	border: none;
	outline: none;
	margin-top: 2px;
	width: 32px;
	height: 32px;
	opacity: 0.85;
}
#bottomBarControls button:hover {
	opacity: 1;
}

#volumeArea {
	display: flex;
	padding-right: 5px;
}

#zoomInBtn {
	background: url(../images/ic_zoom_in.svg) no-repeat;
}
#zoomOutBtn {
	background: url(../images/ic_zoom_out.svg) no-repeat;
}
#playPauseBtn.play {
	background: url(../images/ic_play.svg) no-repeat;
}
#playPauseBtn.pause {
	background: url(../images/ic_pause.svg) no-repeat;
}
#playPauseBtn.replay {
	background: url(../images/ic_replay.svg) no-repeat;
}
#volumeBtn.low{
	background: url(../images/ic_volume_low.svg) no-repeat;
}
#volumeBtn.high{
	background: url(../images/ic_volume_high.svg) no-repeat;
}
#volumeBtn.off{
	background: url(../images/ic_volume_off.svg) no-repeat;
}
#snapshotBtn {
	background: url(../images/ic_snapshot.svg) no-repeat;
}
#settingBtn {
	background: url(../images/ic_setting.svg) no-repeat;
}
#captionBtn {
	background: url(../images/ic_caption.svg) no-repeat;
}
#fullscreenBtn {
	background: url(../images/ic_fullscreen.svg) no-repeat;
}

#timeTxt {
	padding: 12px 8px 0px 5px;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

/* RANGE SLIDER STYLES */

/* removes mozilla default styling */
#zoomCtrl::-moz-range-track, #seekCtrl::-moz-range-track, #volumeCtrl::-moz-range-track {
  background-color: transparent;
  outline: none;
}
#zoomCtrl::-moz-range-thumb, #seekCtrl::-moz-range-thumb, #volumeCtrl::-moz-range-thumb {
  background-color: transparent;
  outline: none;
}

#zoomCtrl {
	width: 80px;
	height: 8px;
	margin-top: 7px;

	/* removes webkit default styling */
  	-webkit-appearance: none;
  	
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.3);
	outline: none;
}

#seekCtrl {
	width: 640px;
	height: 7px;
	margin: 0px;

	/* removes webkit default styling */
  	-webkit-appearance: none;

	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
}

/* thumb pseudo-element */
#zoomCtrl::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: white;
	outline: none;
	width: 12px;
	height: 12px;
	border-radius: 8px;
}
#zoomCtrl::-moz-range-thumb {
	background-color: white;
	border: none;
	width: 12px;
	height: 12px;
	border-radius: 8px;
}

/* thumb pseudo-element */
#seekCtrl::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: white;
	outline: none;
	width: 20px;
	height: 14px;
	border-radius: 8px;
}
#seekCtrl::-moz-range-thumb {
	background-color: white;
	border: none;
	width: 20px;
	height: 14px;
	border-radius: 8px;
}

#volumeCtrl {
	display: none;
	width: 90px;
	height: 8px;
	margin: 14px 8px 0px 5px;

	/* removes webkit default styling */
  	-webkit-appearance: none;

	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.3);
	outline: none;
}

#volumeArea:hover #volumeCtrl {
	display: block
}

/* thumb pseudo-element */
#volumeCtrl::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: white;
	outline: none;
	width: 12px;
	height: 12px;
	border-radius: 8px;
}
#volumeCtrl::-moz-range-thumb {
	background-color: white;
	border: none;
	width: 12px;
	height: 12px;
	border-radius: 8px;
}

